td.details-control {
    background: url('details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('details_close.png') no-repeat center center;
}

.scrollClass {
    height:150px;
    overflow-y: scroll;
}

.wrapper-footer {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    padding: 10;
}

.container {
    margin: 0 auto;
    max-width: 740px;
    padding: 0 10px;
    width: 100%;
}