<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ensoftcorp.atlas.ui.smartViewScript">
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.kcsl.dynadoc.DynaDocPreferenceInitalizer">
      </initializer>
   </extension>
</plugin>
