<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.ensoftcorp.open.dynadoc.core.DynaDocPreferenceInitalizer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:com.ensoftcorp.open.commons.menus.toolbox?after=additions">
         <separator
               name="com.ensoftcorp.open.dynadoc.core.separator"
               visible="true">
         </separator>
         <command
               commandId="com.ensoftcorp.open.dynadoc.core.menus.launchDynaDoc"
               id="com.ensoftcorp.open.dynadoc.core.menus.launchDynaDoc"
               label="DynaDoc Documentation Generation">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ensoftcorp.open.dynadoc.handlers.DynaDocLaunchHandler"
            commandId="com.ensoftcorp.open.dynadoc.core.menus.launchDynaDoc">
      </handler>
   </extension>
</plugin>
